/*
 * Standard theme css.
 * @author Joseph Burris, all9s Solutions LLC
 */

/* color variables should be set in the site specific stylesheet */

html{
	position:relative;
	min-height:100%
}

body{
	color:var(--body-color);
	background-color:var(--body-bg-color);
	cursor:default
}

footer{
	bottom:0;
	line-height:1rem
}

hr{
	margin:.5rem 0;
	color:var(--body-color);
	border:0;
	height:2px
}

.form-floating:focus-within{
	z-index:2
}

.form-floating>.form-control{
	padding:1rem .75rem;
	height:calc(3.5rem + 2px);
	line-height: 1.25
}

.form-floating>label{
	color:var(--bs-dark)
}

textarea.form-control{
	min-height:calc(10em + (.75rem + 2px))
}

.form-check-input:checked{
	background-color:var(--body-color);
	border-color:var(--body-color)
}

.fs-7{
	font-size:.9rem !important
}

.btn-md{
	width:12rem;
	min-height:2.85rem
}
