/*
 * Site specific css for Wallflower Tech sites.
 * @author joseph.burris@gmail.com (place-holder)
 */

:root{
	--body-color:rgb(30,30,30);
	--body-bg-color:rgb(192,192,192)
}

.contact{
	color:var(--body-color);
	background-color:rgb(150,150,150);
	border-radius:1rem
}
